<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1> Welcome to Helping Hands</h1>
       <p></p>
        <form action="GetTheRequest" method="POST">
            <table width="300" border="0">


            <tr>
                <td witdth="250" valign="top"><h3>User Name :</h3>  </td>
                <td><input type="TEXT" name="UserName"><BR></BR></input></td>
            </tr>
                <tr>
                    <td><h3>Password :</h3>  </td>
                    <td><input type="password" name="Password"><BR></BR></input> </td>
                </tr>
                <tr>
                    <td> <input type="SUBMIT" name="LOGIN" value="Login"></input>  </td>
                    <td>  <p><a href="regester.jsp">Register </a> </p> </td>
                </tr>
            </table>
               
            
            
           
        </form>
      
    </h:body>
 
</html>

